# Instruções gerais

Para executar uma CÉLULA, pressione o botão "Run" no topo, com a CÉLULA selecionada, ou pressione:
    
    Shift + Enter

EXECUTE APENAS UMA CÉLULA POR VEZ

-Caso deseje apagar a saída de uma célula carregada, mas não deseje carregar uma nova saída, vá à aba superior, escolha o ícone
do teclado (open the command palette/ jupyter-notebook command group) e selecione clear cell output.

@author: Marco César Prado Soares, MSc.
Especialista Lean Six Sigma Master Black Belt, Eng. Químico, MSc. Eng. Mecatrônica (instrumentação) 
Marco.Soares@br.ey.com; marcosoares.feq@gmail.com

# **Caracterização Inicial do Dataframe e Data Cleaning**

## **Carregar bibliotecas necessárias à análise**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Importar dataframe no Anaconda, Azure Data Studio, ou Google Colab**

<span style="font-size:12.0pt;
font-family:&quot;Times New Roman&quot;,serif">- Tanto em Python quanto em R, um dataframe é um <b>objeto criado</b> que <b>armazena uma tabela de dados</b>.</span>

<span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif">- O objeto é criado automaticamente quando importamos um arquivo txt, csv, ou xlsx para o ambiente de programação, ou quando o criamos a partir de um dicionário, por exemplo (dicionário é um objeto que pode armazenar outros objetos de diversos tipos, desde variáveis numéricas até dataframes ou listas).</span>

<span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-ansi-language:
PT-BR;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">- Para importar o dataframe, utilizamos comandos do Pandas que variam para arquivo do Excel, csv com cabeçalho, ou csv sem cabeçalho. <b><span style="color:red">Arquivos .txt e .csv são lidos da mesma forma</span></b>.</span>

**Dados em arquivo CSV (comma separated values) com cabeçalho**

In [4]:
## dados em arquivo CSV (comma separated values) com cabeçalho

caminho = "cleaned_cases.csv"
dataset1 = pd.read_csv(caminho)

caminho2 = "cleaned_creds.csv"
dataset2 = pd.read_csv(caminho2)

In [5]:
dataset1.head()

,index,Unnamed: 0,accountid,Id,channelid,date,time_tag,tema,waitingtime,missed,pq_satisfacao
0,0,4,0013j00002z0CeEAAU,0013j00002z0CeEAAU,2.0,2020-07-31,0,Aplicativo,15.0,False,0
1,1,5,0013j00002z0CeEAAU,0013j00002z0CeEAAU,2.0,2020-07-31,0,Produto,15.0,False,0
2,2,6,0013j00002z0CeEAAU,0013j00002z0CeEAAU,2.0,2020-09-23,1,Produto,1.0,False,0
3,3,7,0013j00002zQgldAAC,0013j00002zQgldAAC,2.0,2020-08-29,1,Logística,6.0,False,0
4,4,8,0013j00002zQgldAAC,0013j00002zQgldAAC,2.0,2020-08-29,1,Pedido,6.0,False,0

In [6]:
dataset2.head()

,index,Unnamed: 0,accountid,date,time_tag,shipping_address_city,shipping_address_state,max_machine
0,0,4,0013j00002z0CeEAAU,2020-07-28,0,São Gonçalo,RJ,T3
1,1,5,0013j00002z0CeEAAU,2020-07-28,0,São Gonçalo,RJ,T3
2,2,6,0013j00002z0CeEAAU,2020-07-28,0,São Gonçalo,RJ,T3
3,3,7,0013j00002zQgldAAC,2020-08-28,1,Itaboraí,RJ,T1
4,4,8,0013j00002zQgldAAC,2020-08-28,1,Itaboraí,RJ,T1

### **2\. Saber total de linhas do dataframe:**

In [5]:
total1 = len(dataset1)
print(total1)

77489

In [4]:
total2 = len(dataset2)
print(total2)

77489

<span style="font-size: 16px;">Os dois dataframes possuem mesmo número de linhas. Vamos juntá-los utilizando o campo 'Unnamed: 0' como chave, o que será importante para implementação do algoritmo Machine Learning e definição das prioridades</span>

### **3\. Left Join**

In [6]:
dataset = dataset1.join(dataset2, lsuffix = "Unnamed: 0", rsuffix = "Unnamed: 0")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77489 entries, 0 to 77488
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   indexUnnamed: 0         77489 non-null  int64
 1   Unnamed: 0Unnamed: 0    77489 non-null  int64
 2   accountidUnnamed: 0     77489 non-null  object
 3   Id                      77489 non-null  object
 4   channelid               77489 non-null  float64
 5   dateUnnamed: 0          77489 non-null  object
 6   time_tagUnnamed: 0      77489 non-null  int64
 7   tema                    75841 non-null  object
 8   waitingtime             77489 non-null  float64
 9   missed                  77489 non-null  bool
 10  pq_satisfacao           77489 non-null  int64
 11  indexUnnamed: 0         77489 non-null  int64
 12  Unnamed: 0Unnamed: 0    77489 non-null  int64
 13  accountidUnnamed: 0     77489 non-null  object
 14  dateUnnamed: 0          77489 non-null  object
 15  time_tagUnnamed: 0      77489 non-null  int64
 16  shipping_address_city   77489 non-null  object
 17  shipping_address_state  77489 non-null  object
 18  max_machine             77489 non-null  object
dtypes: bool(1), float64(2), int64(7), object(9)
memory usage: 10.7+ MB

Selecionar as colunas

In [38]:
dataset.iloc[:, 1]

0             4
1             5
2             6
3             7
4             8
          ...
77484    126984
77485    126985
77486    126986
77487    126987
77488    126988
Name: Unnamed: 0Unnamed: 0, Length: 77489, dtype: int64

In [7]:
primary_key = dataset.iloc[:,1]
channelID = dataset.iloc[:,4]
time_tag = dataset.iloc[:,6]
tema = dataset.iloc[:,7]
missed = dataset.iloc[:,9]
shipping_state = dataset.iloc[:,17]
max_machine = dataset.iloc[:,18]
pq_satisfacao = dataset.iloc[:,10]
waiting_time = dataset.iloc[:,8]

In [8]:
#dicionário para criar o novo dataframe
d = {'primary_key': primary_key,
'channelID': channelID,
'time_tag': time_tag,
'tema': tema,
'missed': missed,
'shipping_state': shipping_state,
'max_machine': max_machine,
'pq_satisfacao': pq_satisfacao,
'waiting_time': waiting_time}

joined_df = pd.DataFrame(data = d)
joined_df.head()

,primary_key,channelID,time_tag,tema,missed,shipping_state,max_machine,pq_satisfacao,waiting_time
0,4,2.0,0,Aplicativo,False,RJ,T3,0,15.0
1,5,2.0,0,Produto,False,RJ,T3,0,15.0
2,6,2.0,1,Produto,False,RJ,T3,0,1.0
3,7,2.0,1,Logística,False,RJ,T1,0,6.0
4,8,2.0,1,Pedido,False,RJ,T1,0,6.0

In [9]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77489 entries, 0 to 77488
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   primary_key     77489 non-null  int64
 1   channelID       77489 non-null  float64
 2   time_tag        77489 non-null  int64
 3   tema            75841 non-null  object
 4   missed          77489 non-null  bool
 5   shipping_state  77489 non-null  object
 6   max_machine     77489 non-null  object
 7   pq_satisfacao   77489 non-null  int64
 8   waiting_time    77489 non-null  float64
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 4.8+ MB

Exportar o dataframe:

In [10]:
joined_df.to_csv(r"joined_df.csv", index = False)

### **4\. Encoding: atribuição de valores numéricos às variáveis classificatórias**

Inicializar variáveis numéricas

In [50]:
joined_df['tema_encoded'] = 0
joined_df['missed_encoded'] = 0
joined_df['shipping_state_encoded'] = 0
joined_df['max_machine_encoded'] = 0

Tema:

<span style="color: #a31515;">"Aplicativo" = 1</span>

<span style="color: #a31515;">"Produto" = 2</span>

<span style="color: #a31515;">"Logística"= 3</span>

<span style="color: #a31515;">"Pedido" = 4</span>

<span style="color: #a31515;">"Risco" = 5</span>

<span style="color: #a31515;">"Feedback" = 6</span>

<span style="color: #a31515;">"Cadastro" = 7</span>

<span style="color: #a31515;">"Transação" = 8</span>

<span style="color: #a31515;">"Transferência" = 9</span>

<span style="color: #a31515;">"Bandeira" = 10</span>

<span style="color: #a31515;">"Telecom" = 11</span>

<span style="color: #a31515;">"Comunicado" = 12</span>

In [51]:
joined_df.loc[joined_df['tema'] == "Aplicativo", 'tema_encoded'] = 1
joined_df.loc[joined_df['tema']  == "Produto", 'tema_encoded'] = 2
joined_df.loc[joined_df['tema'] == "Logística", 'tema_encoded'] = 3
joined_df.loc[joined_df['tema'] == "Pedido", 'tema_encoded'] = 4
joined_df.loc[joined_df['tema'] == "Risco", 'tema_encoded'] = 5
joined_df.loc[joined_df['tema'] == "Feedback", 'tema_encoded'] = 6
joined_df.loc[joined_df['tema'] == "Cadastro", 'tema_encoded'] = 7
joined_df.loc[joined_df['tema'] == "Transação", 'tema_encoded'] = 8
joined_df.loc[joined_df['tema'] == "Transferência", 'tema_encoded'] = 9
joined_df.loc[joined_df['tema'] == "Bandeira", 'tema_encoded'] = 10
joined_df.loc[joined_df['tema'] == "Telecom", 'tema_encoded'] = 11
joined_df.loc[joined_df['tema'] == "Comunicado", 'tema_encoded'] = 12

Missed:

False = 0

True = 1

In [52]:
joined_df.loc[joined_df['missed'] == False, 'missed_encoded'] = 0
joined_df.loc[joined_df['missed']  == True, 'missed_encoded'] = 1

Shipping state

In [53]:
#valores possíveis
joined_df['shipping_state'].unique()

array(['RJ', 'SC', 'MT', 'GO', 'MG', 'AM', 'TO', 'PA', 'PB', 'MA', 'SP',
       'RS', 'BA', 'CE', 'MS', 'PI', 'PE', 'AC', 'DF', 'AP', 'PR', 'SE',
       'RR', 'RO', 'ES', 'RN', 'AL'], dtype=object)

Encoding do estado

```
'RJ' = 1, 'SC' = 2, 'MT' = 3, 'GO' = 4, 'MG' = 5, 'AM' = 6, 'TO' = 7, 'PA' = 8, 'PB' = 9, 'MA' = 10, 'SP' = 11,
       'RS' = 12, 'BA' = 13, 'CE' = 14, 'MS' = 15, 'PI' = 16, 'PE' = 17, 'AC' = 18, 'DF' = 19, 'AP' = 20, 'PR' = 21, 'SE' = 22,
       'RR' = 23, 'RO' = 24, 'ES' = 25, 'RN' = 26, 'AL' = 27
```

In [54]:
joined_df.loc[joined_df['shipping_state'] == "RJ", 'shipping_state_encoded'] = 1
joined_df.loc[joined_df['shipping_state'] == 'SC', 'shipping_state_encoded'] = 2
joined_df.loc[joined_df['shipping_state'] == 'MT', 'shipping_state_encoded'] = 3
joined_df.loc[joined_df['shipping_state'] == 'GO', 'shipping_state_encoded'] = 4
joined_df.loc[joined_df['shipping_state'] == 'MG', 'shipping_state_encoded'] = 5
joined_df.loc[joined_df['shipping_state'] == 'AM', 'shipping_state_encoded'] = 6
joined_df.loc[joined_df['shipping_state'] == 'TO', 'shipping_state_encoded'] = 7
joined_df.loc[joined_df['shipping_state'] == 'PA', 'shipping_state_encoded'] = 8
joined_df.loc[joined_df['shipping_state'] == 'PB', 'shipping_state_encoded'] = 9
joined_df.loc[joined_df['shipping_state'] == 'MA', 'shipping_state_encoded'] = 10
joined_df.loc[joined_df['shipping_state'] == 'SP', 'shipping_state_encoded'] = 11
joined_df.loc[joined_df['shipping_state'] == 'RS', 'shipping_state_encoded'] = 12
joined_df.loc[joined_df['shipping_state'] == 'BA', 'shipping_state_encoded'] = 13
joined_df.loc[joined_df['shipping_state'] == 'CE', 'shipping_state_encoded'] = 14
joined_df.loc[joined_df['shipping_state'] == 'MS', 'shipping_state_encoded'] = 15
joined_df.loc[joined_df['shipping_state'] == 'PI', 'shipping_state_encoded'] = 16
joined_df.loc[joined_df['shipping_state'] == 'PE', 'shipping_state_encoded'] = 17
joined_df.loc[joined_df['shipping_state'] == 'AC', 'shipping_state_encoded'] = 18
joined_df.loc[joined_df['shipping_state'] == 'DF', 'shipping_state_encoded'] = 19
joined_df.loc[joined_df['shipping_state'] == 'AP', 'shipping_state_encoded'] = 20
joined_df.loc[joined_df['shipping_state'] == 'PR', 'shipping_state_encoded'] = 21
joined_df.loc[joined_df['shipping_state'] == 'SE', 'shipping_state_encoded'] = 22
joined_df.loc[joined_df['shipping_state'] == 'RR', 'shipping_state_encoded'] = 23
joined_df.loc[joined_df['shipping_state'] == 'RO', 'shipping_state_encoded'] = 24
joined_df.loc[joined_df['shipping_state'] == 'ES', 'shipping_state_encoded'] = 25
joined_df.loc[joined_df['shipping_state'] == "RN", 'shipping_state_encoded'] = 26
joined_df.loc[joined_df['shipping_state'] == "AL", 'shipping_state_encoded'] = 27

Max Machine

In [55]:
#valores possíveis
joined_df['max_machine'].unique()

array(['T3', 'T1', 'T2', 'NONE'], dtype=object)

Encoding:

'T1' = 1

'T2' = 2

'T3' = 3

(Missing Values = None - mantém o valor zero)

In [56]:
joined_df.loc[joined_df['max_machine'] == "T1", 'max_machine_encoded'] = 1
joined_df.loc[joined_df['max_machine'] == 'T2', 'max_machine_encoded'] = 2
joined_df.loc[joined_df['max_machine'] == 'T3', 'max_machine_encoded'] = 3

## **Selecionar apenas as colunas numéricas, para exportação**

In [57]:
joined_df = joined_df[['channelID', 'time_tag', 'tema_encoded', 'missed_encoded', 'shipping_state_encoded', 'max_machine_encoded', 'pq_satisfacao', 'waiting_time']]
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77489 entries, 0 to 77488
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   channelID               77489 non-null  float64
 1   time_tag                77489 non-null  int64
 2   tema_encoded            77489 non-null  int64
 3   missed_encoded          77489 non-null  int64
 4   shipping_state_encoded  77489 non-null  int64
 5   max_machine_encoded     77489 non-null  int64
 6   pq_satisfacao           77489 non-null  int64
 7   waiting_time            77489 non-null  float64
dtypes: float64(2), int64(6)
memory usage: 4.7 MB

In [58]:
joined_df.head()

,channelID,time_tag,tema_encoded,missed_encoded,shipping_state_encoded,max_machine_encoded,pq_satisfacao,waiting_time
0,2.0,0,1,0,1,3,0,15.0
1,2.0,0,2,0,1,3,0,15.0
2,2.0,1,2,0,1,3,0,1.0
3,2.0,1,3,0,1,1,0,6.0
4,2.0,1,4,0,1,1,0,6.0

## **Exportar novo dataframe obtido como um arquivo CSV**

In [59]:
joined_df.to_csv(r"joined_df_encoded.csv", index = False)