# Instruções gerais

Para executar uma CÉLULA, pressione o botão "Run" no topo, com a CÉLULA selecionada, ou pressione:
    
    Shift + Enter

EXECUTE APENAS UMA CÉLULA POR VEZ

-Caso deseje apagar a saída de uma célula carregada, mas não deseje carregar uma nova saída, vá à aba superior, escolha o ícone
do teclado (open the command palette/ jupyter-notebook command group) e selecione clear cell output.

@author: Marco César Prado Soares, MSc.
Especialista Lean Six Sigma Master Black Belt, Eng. Químico, MSc. Eng. Mecatrônica (instrumentação) 
Marco.Soares@br.ey.com; marcosoares.feq@gmail.com

# **Grouping (Weekly)**

## **Carregar bibliotecas necessárias à análise**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Importar dataframe no Anaconda, Azure Data Studio, ou Google Colab**

<span style="font-size:12.0pt;
font-family:&quot;Times New Roman&quot;,serif">- Tanto em Python quanto em R, um dataframe é um <b>objeto criado</b> que <b>armazena uma tabela de dados</b>.</span>

<span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif">- O objeto é criado automaticamente quando importamos um arquivo txt, csv, ou xlsx para o ambiente de programação, ou quando o criamos a partir de um dicionário, por exemplo (dicionário é um objeto que pode armazenar outros objetos de diversos tipos, desde variáveis numéricas até dataframes ou listas).</span>

<span style="font-size:12.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-ansi-language:
PT-BR;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">- Para importar o dataframe, utilizamos comandos do Pandas que variam para arquivo do Excel, csv com cabeçalho, ou csv sem cabeçalho. <b><span style="color:red">Arquivos .txt e .csv são lidos da mesma forma</span></b>.</span>

**Dados em arquivo CSV (comma separated values) com cabeçalho**

In [3]:
## dados em arquivo CSV (comma separated values) com cabeçalho

caminho = "cleaned_cases.csv"
dataset1 = pd.read_csv(caminho)

caminho2 = "cleaned_creds.csv"
dataset2 = pd.read_csv(caminho2)

## **Avaliar propriedades gerais do dataframe**

### **1\. <span style="font-size: 14px;">&nbsp;Podemos utilizar o comando .head() para&nbsp;</span> mostrar o cabeçalho:**

In [4]:
dataset1.head()

,index,Unnamed: 0,accountid,Id,channelid,date,time_tag,tema,waitingtime,missed,pq_satisfacao
0,0,4,0013j00002z0CeEAAU,0013j00002z0CeEAAU,2.0,2020-07-31,0,Aplicativo,15.0,False,0
1,1,5,0013j00002z0CeEAAU,0013j00002z0CeEAAU,2.0,2020-07-31,0,Produto,15.0,False,0
2,2,6,0013j00002z0CeEAAU,0013j00002z0CeEAAU,2.0,2020-09-23,1,Produto,1.0,False,0
3,3,7,0013j00002zQgldAAC,0013j00002zQgldAAC,2.0,2020-08-29,1,Logística,6.0,False,0
4,4,8,0013j00002zQgldAAC,0013j00002zQgldAAC,2.0,2020-08-29,1,Pedido,6.0,False,0

In [5]:
dataset2.head()

,index,Unnamed: 0,accountid,date,time_tag,shipping_address_city,shipping_address_state,max_machine
0,0,4,0013j00002z0CeEAAU,2020-07-28,0,São Gonçalo,RJ,T3
1,1,5,0013j00002z0CeEAAU,2020-07-28,0,São Gonçalo,RJ,T3
2,2,6,0013j00002z0CeEAAU,2020-07-28,0,São Gonçalo,RJ,T3
3,3,7,0013j00002zQgldAAC,2020-08-28,1,Itaboraí,RJ,T1
4,4,8,0013j00002zQgldAAC,2020-08-28,1,Itaboraí,RJ,T1

<span style="font-size:12.0pt;
font-family:&quot;Times New Roman&quot;,serif">Vamos agora segregar o dataset1 em cada um dos temas para, a seguir, agrupá-lo em datas. Para isso, vamos filtrar os datasets, ordená-los em ordem crescente de datas, e reiniciar os índices</span>

In [6]:
df_aplicativo = dataset1.loc[dataset1['tema'] == "Aplicativo"]
df_aplicativo = df_aplicativo.sort_values('date')
df_aplicativo = df_aplicativo.reset_index()

df_produto = dataset1.loc[dataset1['tema'] == "Produto"]
df_produto = df_produto.sort_values('date')
df_produto = df_produto.reset_index()

df_logistica = dataset1.loc[dataset1['tema'] == "Logística"]
df_logistica = df_logistica.sort_values('date')
df_logistica = df_logistica.reset_index()

df_pedido = dataset1.loc[dataset1['tema'] == "Pedido"]
df_pedido = df_pedido.sort_values('date')
df_pedido = df_pedido.reset_index()

df_risco = dataset1.loc[dataset1['tema'] == "Risco"]
df_risco = df_risco.sort_values('date')
df_risco = df_risco.reset_index()

df_feedback = dataset1.loc[dataset1['tema'] == "Feedback"]
df_feedback = df_feedback.sort_values('date')
df_feedback = df_feedback.reset_index()

df_cadastro = dataset1.loc[dataset1['tema'] == "Cadastro"]
df_cadastro = df_cadastro.sort_values('date')
df_cadastro = df_cadastro.reset_index()

df_transacao = dataset1.loc[dataset1['tema'] == "Transação"]
df_transacao = df_transacao.sort_values('date')
df_transacao = df_transacao.reset_index()

df_transferencia = dataset1.loc[dataset1['tema'] == "Transferência"]
df_transferencia = df_transferencia.sort_values('date')
df_transferencia = df_transferencia.reset_index()

df_bandeira = dataset1.loc[dataset1['tema'] == "Bandeira"]
df_bandeira = df_bandeira.sort_values('date')
df_bandeira = df_bandeira.reset_index()

df_telecom = dataset1.loc[dataset1['tema'] == "Telecom"]
df_telecom = df_telecom.sort_values('date')
df_telecom = df_telecom.reset_index()

df_comunicado = dataset1.loc[dataset1['tema'] == "Comunicado"]
df_comunicado = df_comunicado.sort_values('date')
df_comunicado = df_comunicado.reset_index()

In [7]:
df_aplicativo['date'] = pd.to_datetime(df_aplicativo['date']) - pd.to_timedelta(7, unit='d')
df_app_grp = df_aplicativo.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_app_grp.index
df_app_grp.info()

#contagem total de chamados na semana
#df_app_grp['count'] = (df_aplicativo.groupby(['date', pd.Grouper(key='date', freq='W-MON')])['Unnamed: 0'].count())[2]

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 36 entries, 2020-02-24 to 2020-10-26
Freq: W-MON
Data columns (total 56 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (level_0, count)        36 non-null     float64
 1   (level_0, mean)         36 non-null     float64
 2   (level_0, std)          36 non-null     float64
 3   (level_0, min)          36 non-null     float64
 4   (level_0, 25%)          36 non-null     float64
 5   (level_0, 50%)          36 non-null     float64
 6   (level_0, 75%)          36 non-null     float64
 7   (level_0, max)          36 non-null     float64
 8   (index, count)          36 non-null     float64
 9   (index, mean)           36 non-null     float64
 10  (index, std)            36 non-null     float64
 11  (index, min)            36 non-null     float64
 12  (index, 25%)            36 non-null     float64
 13  (index, 50%)            36 non-null     float64
 14  (index, 75%)            36 non-null     float64
 15  (index, max)            36 non-null     float64
 16  (Unnamed: 0, count)     36 non-null     float64
 17  (Unnamed: 0, mean)      36 non-null     float64
 18  (Unnamed: 0, std)       36 non-null     float64
 19  (Unnamed: 0, min)       36 non-null     float64
 20  (Unnamed: 0, 25%)       36 non-null     float64
 21  (Unnamed: 0, 50%)       36 non-null     float64
 22  (Unnamed: 0, 75%)       36 non-null     float64
 23  (Unnamed: 0, max)       36 non-null     float64
 24  (channelid, count)      36 non-null     float64
 25  (channelid, mean)       36 non-null     float64
 26  (channelid, std)        36 non-null     float64
 27  (channelid, min)        36 non-null     float64
 28  (channelid, 25%)        36 non-null     float64
 29  (channelid, 50%)        36 non-null     float64
 30  (channelid, 75%)        36 non-null     float64
 31  (channelid, max)        36 non-null     float64
 32  (time_tag, count)       36 non-null     float64
 33  (time_tag, mean)        36 non-null     float64
 34  (time_tag, std)         36 non-null     float64
 35  (time_tag, min)         36 non-null     float64
 36  (time_tag, 25%)         36 non-null     float64
 37  (time_tag, 50%)         36 non-null     float64
 38  (time_tag, 75%)         36 non-null     float64
 39  (time_tag, max)         36 non-null     float64
 40  (waitingtime, count)    36 non-null     float64
 41  (waitingtime, mean)     36 non-null     float64
 42  (waitingtime, std)      36 non-null     float64
 43  (waitingtime, min)      36 non-null     float64
 44  (waitingtime, 25%)      36 non-null     float64
 45  (waitingtime, 50%)      36 non-null     float64
 46  (waitingtime, 75%)      36 non-null     float64
 47  (waitingtime, max)      36 non-null     float64
 48  (pq_satisfacao, count)  36 non-null     float64
 49  (pq_satisfacao, mean)   36 non-null     float64
 50  (pq_satisfacao, std)    36 non-null     float64
 51  (pq_satisfacao, min)    36 non-null     float64
 52  (pq_satisfacao, 25%)    36 non-null     float64
 53  (pq_satisfacao, 50%)    36 non-null     float64
 54  (pq_satisfacao, 75%)    36 non-null     float64
 55  (pq_satisfacao, max)    36 non-null     float64
dtypes: float64(56)
memory usage: 16.0 KB

Com estas informações, podemos agora selecionar as colunas desejadas

In [127]:
dates_list

DatetimeIndex(['2019-07-29', '2019-08-05', '2019-08-12', '2019-08-19',
               '2019-08-26', '2019-09-02', '2019-09-09', '2019-09-16',
               '2019-09-23', '2019-09-30', '2019-10-07', '2019-10-14',
               '2019-10-21', '2019-10-28', '2019-11-04', '2019-11-11',
               '2019-11-18', '2019-11-25', '2019-12-02', '2019-12-09',
               '2019-12-16', '2019-12-23', '2019-12-30', '2020-01-06',
               '2020-01-13', '2020-01-20', '2020-01-27', '2020-02-03',
               '2020-02-10', '2020-02-17', '2020-02-24', '2020-03-02',
               '2020-03-09', '2020-03-16', '2020-03-23', '2020-03-30'],
              dtype='datetime64[ns]', name='date', freq='W-MON')

In [24]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_app_grp)
i = 0

while(i < df_length):

    count.append(df_app_grp.iloc[i,0])
    time_tag.append(df_app_grp.iloc[i,33])
    waiting_time.append(df_app_grp.iloc[i,41])
    pq_satisfacao.append(df_app_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
app_week = pd.DataFrame(data = d)
app_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-02-24   25.0       0.0     14.160000       4.840000
1 2020-03-02   41.0       0.0     11.024390       4.195122
2 2020-03-09   31.0       0.0     11.387097       4.870968
3 2020-03-16    3.0       0.0     10.666667       3.666667
4 2020-03-23   29.0       0.0     10.241379       5.172414

Vamos agora repetir este processo para os demais dataframes

Logística

In [28]:
df_logistica['date'] = pd.to_datetime(df_logistica['date']) - pd.to_timedelta(7, unit='d')
df_log_grp = df_logistica.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_log_grp.index

In [29]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_log_grp)
i = 0

while(i < df_length):

    count.append(df_log_grp.iloc[i,0])
    time_tag.append(df_log_grp.iloc[i,33])
    waiting_time.append(df_log_grp.iloc[i,41])
    pq_satisfacao.append(df_log_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
log_week = pd.DataFrame(data = d)
log_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-02-17   35.0       0.0     13.257143       4.542857
1 2020-02-24   40.0       0.0     12.350000       4.850000
2 2020-03-02   48.0       0.0     11.000000       4.250000
3 2020-03-09    7.0       0.0     17.571429       3.571429
4 2020-03-16   27.0       0.0     10.444444       4.777778

Pedido

In [30]:
df_pedido['date'] = pd.to_datetime(df_pedido['date']) - pd.to_timedelta(7, unit='d')
df_pedido_grp = df_pedido.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_log_grp.index

In [31]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_pedido_grp)
i = 0

while(i < df_length):

    count.append(df_pedido_grp.iloc[i,0])
    time_tag.append(df_pedido_grp.iloc[i,33])
    waiting_time.append(df_pedido_grp.iloc[i,41])
    pq_satisfacao.append(df_pedido_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
pedido_week = pd.DataFrame(data = d)
pedido_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-02-17    2.0       0.0     13.500000       5.000000
1 2020-02-24    6.0       0.0     12.500000       4.166667
2 2020-03-02    4.0       0.0     15.500000       5.000000
3 2020-03-09    0.0       NaN           NaN            NaN
4 2020-03-16    9.0       0.0     13.444444       4.555556

Risco

In [33]:
df_risco['date'] = pd.to_datetime(df_risco['date']) - pd.to_timedelta(7, unit='d')
df_risco_grp = df_risco.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_risco_grp.index

In [34]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_risco_grp)
i = 0

while(i < df_length):

    count.append(df_risco_grp.iloc[i,0])
    time_tag.append(df_risco_grp.iloc[i,33])
    waiting_time.append(df_risco_grp.iloc[i,41])
    pq_satisfacao.append(df_risco_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
risk_week = pd.DataFrame(data = d)
risk_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-03-02    1.0       0.0           9.0            7.0
1 2020-03-09    1.0       0.0          18.0            0.0
2 2020-03-16    0.0       NaN           NaN            NaN
3 2020-03-23    0.0       NaN           NaN            NaN
4 2020-03-30    1.0       0.0          10.0            0.0

Feedback

In [35]:
df_feedback['date'] = pd.to_datetime(df_feedback['date']) - pd.to_timedelta(7, unit='d')
df_feedback_grp = df_feedback.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_feedback_grp.index

In [36]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_feedback_grp)
i = 0

while(i < df_length):

    count.append(df_feedback_grp.iloc[i,0])
    time_tag.append(df_feedback_grp.iloc[i,33])
    waiting_time.append(df_feedback_grp.iloc[i,41])
    pq_satisfacao.append(df_feedback_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
feedback_week = pd.DataFrame(data = d)
feedback_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-03-02    2.0       0.0     13.500000            0.0
1 2020-03-09    1.0       0.0      6.000000            5.0
2 2020-03-16    0.0       NaN           NaN            NaN
3 2020-03-23    3.0       0.0     16.333333            5.0
4 2020-03-30    2.0       0.0     11.500000            5.5

Cadastro

In [37]:
df_cadastro['date'] = pd.to_datetime(df_cadastro['date']) - pd.to_timedelta(7, unit='d')
df_cadastro_grp = df_cadastro.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_cadastro_grp.index

In [38]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_cadastro_grp)
i = 0

while(i < df_length):

    count.append(df_cadastro_grp.iloc[i,0])
    time_tag.append(df_cadastro_grp.iloc[i,33])
    waiting_time.append(df_cadastro_grp.iloc[i,41])
    pq_satisfacao.append(df_cadastro_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
cadastro_week = pd.DataFrame(data = d)
cadastro_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-02-24   11.0       0.0     11.272727       4.090909
1 2020-03-02   22.0       0.0     15.045455       3.727273
2 2020-03-09   17.0       0.0     10.176471       5.058824
3 2020-03-16    3.0       0.0     12.000000       3.333333
4 2020-03-23   13.0       0.0     14.384615       3.692308

Transação

In [39]:
df_transacao['date'] = pd.to_datetime(df_transacao['date']) - pd.to_timedelta(7, unit='d')
df_transacao_grp = df_transacao.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_transacao_grp.index

In [40]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_transacao_grp)
i = 0

while(i < df_length):

    count.append(df_transacao_grp.iloc[i,0])
    time_tag.append(df_transacao_grp.iloc[i,33])
    waiting_time.append(df_transacao_grp.iloc[i,41])
    pq_satisfacao.append(df_transacao_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
transacao_week = pd.DataFrame(data = d)
transacao_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-02-24    3.0       0.0     16.000000       5.000000
1 2020-03-02    5.0       0.0     11.400000       4.000000
2 2020-03-09    8.0       0.0     11.125000       3.750000
3 2020-03-16    3.0       0.0     13.000000       1.666667
4 2020-03-23    3.0       0.0      5.333333       5.000000

Transferência

In [41]:
df_transferencia['date'] = pd.to_datetime(df_transferencia['date']) - pd.to_timedelta(7, unit='d')
df_transferencia_grp = df_transferencia.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_transferencia_grp.index

In [42]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_transferencia_grp)
i = 0

while(i < df_length):

    count.append(df_transferencia_grp.iloc[i,0])
    time_tag.append(df_transferencia_grp.iloc[i,33])
    waiting_time.append(df_transferencia_grp.iloc[i,41])
    pq_satisfacao.append(df_transferencia_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
transferencia_week = pd.DataFrame(data = d)
transferencia_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-02-24   23.0       0.0     12.391304       4.434783
1 2020-03-02   34.0       0.0     14.176471       2.823529
2 2020-03-09   23.0       0.0     11.217391       4.130435
3 2020-03-16    4.0       0.0      9.500000       5.750000
4 2020-03-23   11.0       0.0      9.000000       4.090909

Bandeira

In [45]:
df_bandeira['date'] = pd.to_datetime(df_bandeira['date']) - pd.to_timedelta(7, unit='d')
df_bandeira_grp = df_bandeira.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_bandeira_grp.index

In [46]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_bandeira_grp)
i = 0

while(i < df_length):

    count.append(df_bandeira_grp.iloc[i,0])
    time_tag.append(df_bandeira_grp.iloc[i,33])
    waiting_time.append(df_bandeira_grp.iloc[i,41])
    pq_satisfacao.append(df_bandeira_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
bandeira_week = pd.DataFrame(data = d)
bandeira_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-02-17    3.0       0.0     19.333333            5.0
1 2020-02-24    1.0       0.0      7.000000            8.0
2 2020-03-02    1.0       0.0      9.000000            5.0
3 2020-03-09    1.0       0.0     12.000000            7.0
4 2020-03-16    5.0       0.0     11.800000            2.0

Telecom

In [47]:
df_telecom['date'] = pd.to_datetime(df_telecom['date']) - pd.to_timedelta(7, unit='d')
df_telecom_grp = df_telecom.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_telecom_grp.index

In [48]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_telecom_grp)
i = 0

while(i < df_length):

    count.append(df_telecom_grp.iloc[i,0])
    time_tag.append(df_telecom_grp.iloc[i,33])
    waiting_time.append(df_telecom_grp.iloc[i,41])
    pq_satisfacao.append(df_telecom_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
telecom_week = pd.DataFrame(data = d)
telecom_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-03-02    4.0       0.0          10.0           5.75
1 2020-03-09    1.0       0.0          17.0           5.00
2 2020-03-16    0.0       NaN           NaN            NaN
3 2020-03-23    0.0       NaN           NaN            NaN
4 2020-03-30    0.0       NaN           NaN            NaN

Comunicado

In [49]:
df_comunicado['date'] = pd.to_datetime(df_comunicado['date']) - pd.to_timedelta(7, unit='d')
df_comunicado_grp = df_comunicado.groupby([pd.Grouper(key='date', freq='W-MON')]).describe()
dates_list = df_comunicado_grp.index

In [50]:
#criar listas com cada elemento 
#count:
count = []
time_tag = []
waiting_time = []
pq_satisfacao = []

df_length = len(df_comunicado_grp)
i = 0

while(i < df_length):

    count.append(df_comunicado_grp.iloc[i,0])
    time_tag.append(df_comunicado_grp.iloc[i,33])
    waiting_time.append(df_comunicado_grp.iloc[i,41])
    pq_satisfacao.append(df_comunicado_grp.iloc[i,49])
    i = i + 1

#criar dicionario com as listas
d = {'date': dates_list, 'count': count, 'time_tag': time_tag, 'waiting_time': waiting_time, 'pq_satisfacao': pq_satisfacao}

#converter dicionario no novo dataframe
comunicado_week = pd.DataFrame(data = d)
comunicado_week.head()

        date  count  time_tag  waiting_time  pq_satisfacao
0 2020-06-08    1.0       0.0          16.0            5.0
1 2020-06-15    1.0       0.0           7.0            0.0
2 2020-06-22    1.0       0.0           5.0            5.0
3 2020-06-29    0.0       NaN           NaN            NaN
4 2020-07-06    1.0       0.0          12.0            0.0

## **Exportar dataframes obtido como um arquivo CSV**

In [51]:
app_week.to_csv(r"weekly_app.csv", index = False)
log_week.to_csv(r"weekly_log.csv", index = False)
pedido_week.to_csv(r"weekly_pedido.csv", index = False)
risk_week.to_csv(r"weekly_risk.csv", index = False)
feedback_week.to_csv(r"weekly_feedback.csv", index = False)
cadastro_week.to_csv(r"weekly_cadastro.csv", index = False)
transacao_week.to_csv(r"weekly_transacao.csv", index = False)
transferencia_week.to_csv(r"weekly_transferencia.csv", index = False)
bandeira_week.to_csv(r"weekly_bandeira.csv", index = False)
telecom_week.to_csv(r"weekly_telecom.csv", index = False)
comunicado_week.to_csv(r"weekly_comunicado.csv", index = False)